<div class="container">
    <h2 class="text-success text-decoration-underline"> Total expeances of the day</h2>

    <button type="button" routerLink="/expance" class="btn btn-primary">ADD</button>
    <div class="container-fluid mt-3">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Expance title</h5>
                <p class="card-text">Expance Description</p>
                <h3 class="text-primary">$180</h3 >
            </div>
            </div>
    </div>


</div>