<ngx-spinner bdColor="rgba(0, 0, 0, 0.8)" size="medium" color="#fff" type="ball-pulse" [fullScreen]="true">
    <p style="color: white"> Loading... </p>
</ngx-spinner>

<div class="container">

    <div class="row">

        <div class="col-6 ">
            <div class="card">
                <div class="card-header bg">
                    Here is Your Recipe
                </div>
                <div class="card-body">
                    <p [innerHTML]="formattedRes">{{res}}</p>
                    <a (click)="heath()" class="btn btn-p">Is this food is Healthy or not</a>
                </div>
            </div>

        </div>
        <div class="col-6 ">
            <div class="card">
                <div class="card-header bg">
                    Is this Food is good or Not
                </div>
                <div class="card-body">
                    <p [innerHTML]="formattedHealthy">{{healthRes}}</p>
            
                </div>
            </div>

        </div>
    </div>
</div>