<div class="container mt-5">
    <div class="row g-4">
        <div class="col-6 col-sm-4 col-md-3" >

            <a routerLink="/home/1" class="text-white text-decoration-none">
                <div class="month-card">
                    January
                </div>
            </a>
        </div>
        <div class="col-6 col-sm-4 col-md-3" >

            <a routerLink="/home/2" class="text-white text-decoration-none">
                <div class="month-card">
                    February
                </div>
            </a>
        </div>
        <div class="col-6 col-sm-4 col-md-3" >

            <a routerLink="/home/3" class="text-white text-decoration-none">
                <div class="month-card">
                    March
                </div>
            </a>
        </div>
        <div class="col-6 col-sm-4 col-md-3" >

            <a routerLink="/home/4" class="text-white text-decoration-none">
                <div class="month-card">
                    April
                </div>
            </a>
        </div>
        <div class="col-6 col-sm-4 col-md-3" >

            <a routerLink="/home/5" class="text-white text-decoration-none">
                <div class="month-card">
                    May
                </div>
            </a>
        </div>
        <div routerLink="/home/6" class="col-6 col-sm-4 col-md-3" >

            <a  class="text-white text-decoration-none">
                <div class="month-card">
                    June
                </div>
            </a>
        </div>
        <div class="col-6 col-sm-4 col-md-3" >

            <a routerLink="/home/7" class="text-white text-decoration-none">
                <div class="month-card">
                    July
                </div>
            </a>
        </div>
        <div class="col-6 col-sm-4 col-md-3" >

            <a routerLink="/home/8" class="text-white text-decoration-none">
                <div class="month-card">
                    August
                </div>
            </a>
        </div>
        <div class="col-6 col-sm-4 col-md-3" >

            <a routerLink="/home/9" class="text-white text-decoration-none">
                <div class="month-card">
                    September
                </div>
            </a>
        </div>
        <div class="col-6 col-sm-4 col-md-3" >

            <a routerLink="/home/10" class="text-white text-decoration-none">
                <div class="month-card">
                    October
                </div>
            </a>
        </div>
        <div class="col-6 col-sm-4 col-md-3" >

            <a routerLink="/home/11" class="text-white text-decoration-none">
                <div class="month-card">
                    November
                </div>
            </a>
        </div>
        <div class="col-6 col-sm-4 col-md-3" >

            <a routerLink="/home/12" class="text-white text-decoration-none">
                <div class="month-card">
                    December
                </div>
            </a>
        </div>
    </div>
</div>